

body {
    background-color: aquamarine;

}

.nav {
    font-size: large;
    height: 40px;
    padding-top: 1rem;
    border: 3px solid black;
    border-radius: 5px;
}

.nav li {
    display: inline;
    padding: 10px;
    
}

hr {
    height: 10px;
    background-color: brown;
    border: 0;
}

.container {
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 80%;
    padding: 5px;
    background: linear-gradient(yellow, blue, yellow);
    color: bisque;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex div {
    border: 2px solid red;
    border-radius: 3px;
    padding: 10px;
    width: 25%;
}

.flex div h2 {
    text-align: center;
}
.container-about {
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 80%;
    padding: 5px;
    background: linear-gradient(45deg, rgb(224, 61, 157), blue, rgb(39, 207, 109));
    color: bisque;
}
.container-last {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 80%;
    min-height: 100px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(90deg, red, green, purple);
}
.container-last a {
    display: block;
    margin: 10px auto;
    color: azure;
    width: max-content;
    text-align: center;
    font-size: large;
}

a:active {
   background-color: red;
    color: chartreuse;
    text-transform: uppercase; 
}

a:hover {
    background-color: red;
    color: chartreuse;
    text-transform: uppercase;
}

.container-last img {
    float: right;
    height: 100px;
}

h1 {
    color: coral;
    text-align: center;
}

h2 {
    color: aliceblue;
}

a {
    text-decoration: none;
}

.table-layout {
    margin: auto;
    font-size: x-large;
}

caption {
    color: brown;
    font-size:xx-large;
}

th {
    color: rgb(182, 157, 182);
}

tfoot {
    text-align: center;
    color: greenyellow;
}

.btn {
    font-size: xx-large;
}

.btn a {
    color: azure;

}

th, td {
    padding: 10px;
}