

body {
    background-color: aquamarine;

}

.nav {
    font-size: large;
    height: 40px;
    padding-top: 1rem;
    border: 3px solid black;
    border-radius: 5px;
}

.nav li {
    display: inline;
    padding: 10px;
    
}

hr {
    height: 10px;
    background-color: brown;
    border: 0;
}

.container {
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 80%;
    padding: 5px;
    background: linear-gradient(yellow, blue, yellow);
    color: bisque;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.flex div {
    border: 2px solid red;
    border-radius: 3px;
    padding: 10px;
    width: 25%;
}

.flex div:hover {
    box-shadow: 5px 5px 5px 5px black;
 }

.flex div h2 {
    text-align: center;
}
.container-about {
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 80%;
    padding: 5px;
    background: linear-gradient(45deg, rgb(224, 61, 157), blue, rgb(39, 207, 109));
    color: bisque;
}
.container-last {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 80%;
    min-height: 100px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(90deg, red, green, purple);
}
.container-last a {
    display: block;
    margin: 10px auto;
    color: azure;
    width: max-content;
    text-align: center;
    font-size: large;
}

a:active {
   background-color: red;
    color: chartreuse;
    text-transform: uppercase; 
}

a:hover {
    background-color: red;
    color: chartreuse;
    text-transform: uppercase;
}

.container-last img {
    float: right;
    height: 100px;
}

h1 {
    color: coral;
    text-align: center;
}

h2 {
    color: aliceblue;
}

a {
    text-decoration: none;
}

.table-layout {
    margin: auto;
    font-size: x-large;
}

caption {
    color: brown;
    font-size:xx-large;
}

th {
    color: rgb(182, 157, 182);
}

tfoot {
    text-align: center;
    color: greenyellow;
}

.btn {
    font-size: large;
}

.a-element {
    color: azure;
    background-color: brown;
    border: 3px solid black;
    border-radius: 10px;
}

th, td {
    padding: 10px;
}

.background-green {
    background-color: green;
}

.background-yellow {
    background-color: yellow;
}

.background-red {
    background-color: red;
}

.background-card {
    background-color: peru;
}

.click-counter {
    background-color: rgb(206, 201, 201);
    border: 3px solid black;
    border-radius: 5px;
    width: 500px;
    margin: 10px auto;
    padding: 10px
}

.click-counter div {
    max-width: 500px;
    margin: auto;
    padding: 5px;
    font-size: x-large;
}

.click-counter h3 {
    margin-top: 0;
}

.show {
    margin: 20px;
    background-color: bisque;
    border-radius: 10px;
    height: 30px;
}

.orders-title {
    text-align: center;
    font-size: x-large;
    color: brown;
}

.fieldset {
    margin: 20px 31%;
}

fieldset {
    margin: 10px 50px;
    border-radius: 10px;
}

fieldset legend {
    color: brown;
    font-size: x-large;
}

.fieldset div {
    margin: 20px 0;
}

.fieldset input, label {
    width: 500px;
    height: 30px;
    margin: 10px;
}

.submit {
    width: 200px;
    height: 50px;
    background-color: brown;
    color: yellow;
    font-size: x-large;
    border-radius: 5px;
    margin: 0 43%;
}

.submit:hover {
    box-shadow: 5px 5px 5px 5px black;
}

.table {
    margin: 30px auto;
    color: red;
    background-color: lightgoldenrodyellow;
    border: 3px solid brown;
    border-radius: 10px;
    padding: 10px;
    font-size: x-large;
}
